<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Dinos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a href="/">HOME</a> |
    <a href="/dinosaurs">All dinos</a> |
    <a href="/dinosaurs/new">New Dino!</a> |
    <a href="/dinos/edit">EDIT Dinos!</a> |
</nav>
    <%- body %>
    <script src="/js/script.js"></script>
</body>
</html>