<h3>These are all of the dinos that we can GET</h3>
<a href="/dinosaurs/new"> Add a new dino!</a>

    <ul>
       <% dinosaurs.forEach( function(dinosaur, i) { %>
            <li> <a href="/dinosaurs/<%= i %>" > <%= dinosaur.name %> is a <%= dinosaur.type %> </li>
       <% }) %> 
    </ul>